<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>服务器信息</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- jquery -->
    <script type="text/javascript" th:src="@{//i0.ule.com/j/lib/jquery.js}"></script>
</head>
<body>

<div class="panel panel-default">
    <div class="panel-heading">服务器信息</div>
    <table class="table" id="server-status" cellpadding="10" cellspacing="2">
        <tr>
            <td bgcolor="BBBBBB">图标</td>
            <td bgcolor="BBBBBB">IP</td>
            <td bgcolor="BBBBBB">当前时间</td>
            <td bgcolor="BBBBBB">运行时间（秒）</td>
            <td bgcolor="BBBBBB">操作</td>
        </tr>
        <tr th:each="server,stat : ${servers}">
            <td bgcolor="DDDDDD"><img th:src="@{${server.icon}}" width="16" height="16"/></td>
            <td bgcolor="DDDDDD" th:text="${server.ip}"></td>
            <td bgcolor="DDDDDD" th:text="${#dates.format(server.time, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <td bgcolor="DDDDDD" th:text="${#numbers.formatDecimal(server.run, 0, 'COMMA', 2, 'POINT')}"></td>
            <td bgcolor="DDDDDD"><a th:href="@{'/test-db?param=' + ${server.run}}">数据库测试</a></td>
        </tr>
    </table>
</div>
</body>
</html>